.categories-bar {
  --bg-color: #f60;
  --link-color: hsla(0, 0%, 100%, 0.8);
  --link-hover-color: #fff;
}

.categories-bar {
  background-color: var(--bg-color);
  padding: 1rem;
  display: flex;
}

.categories-bar__link {
  color: var(--link-color);
  transition: color 0.15s ease;
  vertical-align: middle;
  text-decoration: none;
  margin-left: 1rem;
  text-transform: capitalize;
}

.categories-bar__link:hover {
  color: var(--link-hover-color);
}

.categories-bar__link:first-child {
  margin-left: 0;
}
